body {
	padding-right: 0px; 
	padding-left: 140px; 
	padding-bottom: 0px; 
	overflow: hidden; 
	padding-top: 144px; 
	height: 100%;
	margin: 0px; 
}

div#headerleft {
	left: 0px; 
	overflow: auto; 
	position: absolute;
	z-index: 2; 
	top: 0px; 
	height: 144px; 
	width: 100%;
	margin: 0px; 
	overflow: auto;
    background: url("images/headstart.jpg") left top;
    background-repeat: no-repeat;
    background-color: #446d99;
}

div#headerRight {
	position: absolute;
	top: 0px;
	right: 0px;
    height: 144px;
	width: 150px;
    background: url("images/headend.jpg") right top;
    background-repeat: no-repeat;
    background-color: #446d99;
}

div#sidebar {
	width: 150px; 
	height: 100%;
	background-color: #d1e4fa;
	left: 0px; 
	position: absolute;
	margin: 0px; 
	bottom: 0px; 
	top: 144px;
}

div#main {
	padding-right: 6px; 
	overflow-y: scroll; 
	padding-left: 1em; 
	overflow-x: auto; 
	padding-bottom: 20px; 
	width: 100%; 
	padding-top: 22px; 
	height: 100%
}
