body {
	font-family: helvetica, sans-serif;
	background-color: #446d99;
 	background: url("images/bg1.png");
}

.upgotd-link > img {
	max-height: 175px;
}

img {
	border-radius: 5px;
	max-width: 100%;
}

img.right {
	float: right;
}
img.left {
	float: left;
	margin-right: 10px;
}

table.head {
	border: 0px;
	width: 100%;
}

.headLeft {
    border: 0px;
    padding-left: 50px;
}

td.headRight {
	border: 0px;
	padding: 5px;
 	background-repeat: no-repeat;
}


h1.head, h4.head {
	color: white;
}
#main {
	padding: 10px;
	background-color: #ffffff;
    border-radius: 0 0 8px 8px;
}

#menu {
	width: 100%;
	height: 31px;
	background-color: #638cbb;
	border-top-color: #d1e4fa;
	border-bottom-color: black;
	border-radius: 8px 8px 0 0;
}

a.NavLink, a.activeNavLink
{
	display: block;
	height: 21px;
	float: left;
	padding: 5px 10px 5px 10px;
	background-color: #638cbb;
	text-decoration: none;
	color: white;
	border-radius: 8px 8px 0 0;
}

a.activeNavLink
{
    background-color: white;
    color: #325884;
}

#menu a:hover{
	background-color: #83cccb;
	color: white;
}

.block
{
	display: block;
	background-color: #e3fae7;
	padding: 10px;
 }
table
{
	border-collapse: collapse;
	border: 1px;
	border-style: solid;
}
td
{
	border: 1px;
	border-style: solid;
	padding: 5px;
}
.even {
	background-color: #d1e4fa;
}
th
{
	height: 37px;
	color: #ffffff;
	background-color: #325884;
	text-align: left;
}

td.rightCol {
    padding: 10px;
    width: 20%;
    vertical-align: top;
}

p.clear
{
	clear: left;
}
.blockquote {
	border-radius: 10px;
	display: block;
	border:5px solid lightgray;
	background-color: white;
	padding: 15px;
}

h2, h3 {
    clear: both;
}

/* adjustments for small screens */
@media all and (max-width: 767px) {
    .headLeft {
        padding-left: 5px;
    }

    .blockquote {
        padding: 5px;
    }

    h1.head {
        font-size: medium;
    }

    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    td.rightCol,
    h4.head,
    p.vision {
        display:none;
    }

	ul {
		padding-left: 2rem;
	}
}

small {
	font-size: xx-small;
}

.borderless {
	border-style: none;
}

.borderless td {
	vertical-align: top;
	border-style: none;
}